pandas
numpy
scikit-learn
imbalanced-learn
xgboost
matplotlib
seaborn
shap
boruta
joblib
fastapi
uvicorn
pydantic
reportlab
python-jose 
passlib 
bcrypt==4.0.1
pymongo 
python-dotenv 
python-multipart
typing
pydantic[email]
fastapi-mail